.auth-page {
  margin-top: -10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  margin: auto;
  width: 100%;
  flex-direction: column;

  padding: 0em 1em 5%;
  max-width: 1150px;
  padding-bottom: 5% !important;


  .auth-logo {
    transform: scale(1.4);
  }

  .auth-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
  }

  .auth-tips {
    font-size: 14px;
  }

  .auth-input {
    width: 100%;
    margin: 2vh 0;
  }
  .auth-input-code {
    width: 23%;
    margin: 3vh 0;
    margin-left: 10px;
  }

  .auth-actions {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    //flex-direction: column;

    //button:not(:last-child) {
    //  width: 10%;
    //  margin-bottom: 10px;
    //}
  }

  button{
    width: 18%;
    margin-left: 8px;
  }
  .verification-code-wrapper {
    width: 120px; // 调整验证码的宽度
    display: inline-block;
    margin-right: 10px;
  }

  .verification-code {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
  }
  .verification-code-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
  }

  .regButton{
    background-color: #50bfff;
  }

  .forgot-div {
    position: absolute;
    top: 50px;
    left: 70%;
  }

  .reg-div {
    position: absolute;
    top: 50px;
    left: 17%;
  }

  .forgotpassword{
    font-size: 14px;
    color: #a6ac79;
    text-decoration: none;
    cursor: pointer;
  }
  .forgotForm{
    margin-bottom: 20px;
    width: 50%;
    display: flex;
  }
  .forgotFormSendCode{
    flex-grow: 1;
  }
  .forgotFormVCode{
    flex-grow: 5;
  }
  .forgotFormUpdateButton{
    margin-left: 0;
    width: 64%;
  }

  .loginButton{
    width: 68%;
  }

}

.ant-carousel{
  width: 50% !important;
}
